<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160380696673-nr9i4prgv6ulu4mnq1ddquu78gv4u64r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160380696673-nr9i4prgv6ulu4mnq1ddquu78gv4u64r</string>
	<key>API_KEY</key>
	<string>AIzaSyAe0126tnqdJcYUtbqinfCWI6g8CpgcaME</string>
	<key>GCM_SENDER_ID</key>
	<string>160380696673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.enzoconty.fmood</string>
	<key>PROJECT_ID</key>
	<string>faces-detection-app</string>
	<key>STORAGE_BUCKET</key>
	<string>faces-detection-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160380696673:ios:a367f559de67a4aa019220</string>
	<key>DATABASE_URL</key>
	<string>https://faces-detection-app.firebaseio.com</string>
</dict>
</plist>